.faq-container {
  background-color: #d1d1d1;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Fuerza 2 columnas */
  gap: 20px;
}

.faq-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question p {
  margin: 0;
  font-weight: bold;
}

.faq-question button {
  background: none;
  border: none;
  cursor: pointer;
}

.faq-question img {
  width: 24px;
  height: 24px;
}

.faq-answer {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333;
}
