<div class="suplementos-container">
    <h1>Los Mejores Suplementos para Potenciar tu Rendimiento</h1>
    <p>Los suplementos pueden potenciar tus entrenamientos, mejorar la recuperación y ayudarte a alcanzar tus objetivos más rápido.</p>
  
    <!-- Agrupa los suplementos en filas de 3 en 3 -->
    <div class="row" *ngFor="let suplementoGroup of agruparSuplementos(suplementos, 3)">
      <div class="card" *ngFor="let suplemento of suplementoGroup">
        <img [src]="suplemento.image" alt="{{ suplemento.name }}" />
        <h2>{{ suplemento.name }}</h2>
        <p>{{ suplemento.description }}</p>
      </div>
    </div>
  </div>
  