.header-container {
  .background-image {
    background-image: url('../../../../public//assets/Gym-Presentation.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    }
  }

  .purpose-section {
    background-color: #939393;
    padding: 40px 20px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between; 
    text-align: left; 
    gap: 20px; 

    h2 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 10px; 
      color: #fff;
      position: relative;
      bottom: 110px;
      left: 200px;
    }

    p {
      font-size: 22px;
      line-height: 1.6;
      max-width: 400px; 
      color: #fff;
      position: relative;
      right: 250px;
      top: 30px;
    }

    .image-container {
      display: flex;
      justify-content: center;
      position: relative;
      right: 150px;
      border-radius: 150px;
      width: 250px;
      height: 250px;
    }

    .image-container img {
      height: 100%;
      width: 100%;
      border-radius: 150px;

    }
  }

