<footer class="footer-container">
    <div class="footer-content">
      <p>© 2024 GymRatCenter. Todos los derechos reservados.</p>
      <p>Prohibida la reproducción total o parcial de este contenido sin permiso expreso.</p>
    </div>
    <div class="footer-icons">
      <a href="#" target="_blank" aria-label="Facebook">
        <img src="assets/facebook.svg" alt="Facebook">
      </a>
      <a href="#" target="_blank" aria-label="WhatsApp">
        <img src="assets/whatsapp.svg" alt="WhatsApp">
      </a>
      <a href="#" target="_blank" aria-label="Instagram">
        <img src="assets/instagram_dark.svg" alt="Instagram">
      </a>
    </div>
  </footer>
  