<div class="suplementos-container">
    <div class="header-section">
      <div class="header-image"></div>
      <h1 class="header-title">Diseña tu Rutina Ideal y Alcanza tus Metas</h1>
    </div>
    <div class="about-section">
      <h2>El Primer Paso hacia tu Mejor Versión</h2>
      <p>
        Crear una rutina de ejercicio efectiva es clave para alcanzar tus objetivos en el gym. Ya sea que busques ganar fuerza, perder peso o mejorar tu resistencia, con un plan bien estructurado y equilibrado, podrás progresar de forma constante y segura. ¡Empieza hoy a diseñar la rutina que mejor se adapte a ti!
      </p>
    </div>
  </div>
  